* {
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; */
}


.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 0 0 2rem;
    height: 100vh;
    width: 16rem;
}

.side-nav-title {
    padding: 1rem 0;
    margin: 1rem 0 2rem 0;
}

.side-nav-sub-title {
    margin: 0;
    color: gray;
    font-size: small;
}

.side-nav-bar {
    list-style: none;
    padding: 0;
    width: 100%;
}

.side-nav-item {
    padding: 0.5rem 1rem;
}

.sub-nav-item {
    margin-bottom: 1rem;
}

.nav-item-active {
    background-color: brown;
}

.side-nav-item:hover {
    /* background-color: brown; */
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: brown;
}

.nav-link .nav-item-active {
    color: white;
}

.nav-link:hover {
    color: rgba(165, 42, 42, 0.8);
}

.layout-container {
    margin-left: 20rem;
}